/* CSS stillerinizi buraya girin */

.header {
  background-color: #f2f2f2;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

li {
  background-color: rgb(219, 141, 219);
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 20px;
}
h1 {
  font-size: 30px;
  text-align: center;
  font-family: cursive;
}

li a {
  text-decoration: none;
}
li a:hover {
  color: orange;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30 auto;
  justify-content: center;
}
.content-sag {
  padding-right: 10px;
  max-width: 900px;
  min-width: 200px;

  text-align: center;
}
.button1 {
  font-size: 15px;
  text-align: center;
}
.fotolar1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 34px auto;
}
.fotolar2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: 34px auto;
}
footer {
  background-color: #f2f2f2;
  padding: 7px;
  text-align: center;
}
.button2 {
  padding: 6px;
  margin-bottom: 7px;
}

/* contact */

.iletisimsayfasi {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.iletisimsayfasi a {
  text-decoration: none;
  color: black;
}

/* about */

.hakkimdasayfasi {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 50px;
  gap: 10px;
}
.hakkimda-sag {
  text-align: center;
  max-width: 900px;
  min-width: 400px;
}
/*projeler */
.projefoto {
  background-image: url("/foto9.jpeg");
  padding-bottom: 25%;
  margin-bottom: 1%;
}
.butonproje {
  color: red;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 45%;
  padding: 1%;
  text-align: center;
  margin-top: 20%;
}
.projefoto a:hover {
  color: blueviolet;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightseagreen;
  }
  .fotolar1 {
    gap: 30px;
    justify-content: space-evenly;
  }
  .fotolar2 {
    gap: 30px;
    justify-content: space-evenly;
  }
  .content {
    justify-content: center;
  }
  .header ul {
    justify-content: flex-start;
  }
  .hakkimdasayfasi {
    justify-content: center;
  }
  .hakkimda-sag {
    text-align: center;
  }
  .hakkimdasayfasi .foto8 {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: lightcoral;
  }
  .fotolar1 {
    gap: 30px;
    justify-content: space-evenly;
  }
  .fotolar2 {
    gap: 30px;
    justify-content: space-evenly;
  }
  .content {
    justify-content: center;
  }
  .hakkimdasayfasi {
    justify-content: center;
  }
  .hakkimda-sag {
    text-align: center;
  }
  .hakkimdasayfasi .foto8 {
    width: 60%;
  }
}

@media only screen and (min-width: 900px) {
  body {
    background-color: lightblue;
  }
  .header ul {
    justify-content: flex-start;
  }
}
